body {
    background: #e6e6e6;
    padding-top: 80px;
}

.navbar-inverse {
    background: #1D2331;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.container .jumbotron {
    border-radius: 0;
}

.panel {
    border-radius: 0;
    border: 1px dotted #898A90;
    box-shadow: none;
}

.panel-default {
    background: transparent;
}

.panel-default > .panel-heading {
    background-color: transparent;
    text-align: center;
    border: none;
    padding: 20px;
}

.jumbotron {
    background: #20263C;
    color: #fff;
}

.btn-lg, .btn-group-lg>.btn {
    border-radius: 0;
}

.footer {
    background: #11141F;
    color: #A2ABCE;
}

.footer p {
    margin: 10px 0;
}